---
server:
  port: 8888
spring:
  cloud:
    config:
      server:
        git:
          uri: https://github.com/tshumal/e-toll-spring-cloud-config-rates
          search-paths: toll-gate*
        encrypt:
          enabled: false
security:
  basic:
    enabled: true
  user:
    name: admin
    password: admin
          #username: uname
          #password: pword
  #profiles:
  #  active: native
  encrypt:
    key: secret